<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater Delete</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/web/deleteTheater}" th:object="${theaterToDelete}" method="post">
    <label for="id">ID</label>
    <input type="hidden" id="id" name="id" th:field="*{id}"/>

    <label for="location">Location</label>
    <input type="text" id="location" name="id" th:field="*{location}"/><br/>

    <label for="theaterId">Theater ID</label>
    <input type="text" id="theaterId" name="id" th:field="*{theaterId}"/><br/>

    <input style="margin: 10px auto 10px" type="submit" value="Delete"/>
</form>
</body>
</html>