<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Movies</h1>
<form th:action="@{/web/movies(page='page')}">
    <label for="page">Page </label>
    <input type="number" id="page" name="page" min="1" th:max="${movies.totalPages}" th:value="${movies.number} + 1" >
    <input type="submit" value="Go">
    <label th:text="'of '+${movies.totalPages}"></label>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Full Plot</th>
        <th>Genres</th>
        <th>Rating</th>
        <th>Year</th>
    </tr>
    </thead>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.fullplot}"></td>
        <td th:text="${movie.genres}"></td>
        <td th:text="${movie.rated}"></td>
        <td th:text="${movie.year}"></td>
    </tr>
</table>
</body>
</html>