<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border:10px;
        width: 100%;
    }

    td, th {
        font-family: 'Silkscreen', sans-serif;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background: rgba(255,255,255,0.3);
    }
</style>
<body>
<h1>Movies</h1>

<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
    </tr>
    </thead>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.year}"></td>
    </tr>
</table>
</body>
</html>